.navbar {
    border-bottom:0.5px solid rgb(233, 233, 233);
    display:flex;
    align-items: center;
    color:gray;
    gap:1em;
    width:100%;
    padding:0.5em;
    .wrapper {
        display:flex;
        align-items: center;
        gap:1em;
        padding:1em;
        width:100%;
        justify-content: space-between;
        .search {
            display:flex;
            align-items: center;
            gap:1em;
            border-radius:2em;
            border:0.5px solid rgb(233, 233, 233);
            padding:0.25em 1em;
            .icon {
                cursor:pointer;
                color:#333;
            }
            input {
                border:none;
                outline:none;
                background-color:transparent;
                &::placeholder {
                    font-size:.9em;
                }
            }
        }
        .items {
            display: flex;
            gap:1em;
            .item {
                display:flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
                gap:0.25em;
                color:#333;
                .icon {
                    cursor:pointer;
                    font-size:20px;
                    color:#333;
                } 
                .counter {
                    background-color:rgba(255, 0, 0, 0.909);
                    width:2em;
                    height:2em;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    border-radius:50%;
                    font-size:0.5em;
                    color:white;
                }  
                .avatar {
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    object-fit: cover;
                }
            }
        }
    }
}