.home {
    display:flex;
    .home-container {
        flex:4;
        .widgets {
            display:flex;
            padding:2em;
            gap:1em;
        }
        .charts {
            padding:0 2em;
            display:flex;
            gap:1em;
        }
    }
}